@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-transition {
  transition: background 2s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.5s ease,
    fill 2s ease, stroke 2s ease, background-color 2s ease, border-color 2s ease,
    box-shadow 2s ease;
}

@layer utilities {
  .input_glassmorph {
    backdrop-filter: blur(10px);

    .warning {
      background: rgba(255, 255, 0, 0.2);
      border: 1px solid rgba(255, 255, 0, 0.3);
    }

    .info {
      background: rgba(0, 255, 255, 0.2);
      border: 1px solid rgba(0, 255, 255, 0.3);
    }

    .primary {
      background: rgba(0, 0, 255, 0.2);
      border: 1px solid rgba(0, 0, 255, 0.3);
    }

    .secondary {
      background: rgba(255, 0, 255, 0.2);
      border: 1px solid rgba(255, 0, 255, 0.3);
    }
  }
  .success {
    background: rgba(0, 255, 0, 0.2);
  }
  .error {
    background: rgba(255, 0, 0, 0.2) !important;
  }
  .image-bg {
    background-image: url("../assets/descargar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .set-clip-path {
    clip-path: polygon(
      74.1% 44.1%,
      100% 61.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 32.5%,
      60.2% 62.4%,
      52.4% 68.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 64.9%,
      17.9% 100%,
      27.6% 76.8%,
      76.1% 97.7%,
      74.1% 44.1%
    );
  }
  label {
    @apply dark:text-slate-400 text-slate-800 !important;
  }

  button {
    @apply border dark:border-[#414c5f] !important;
  }

  .set-border{
    @apply border border-primary-900 dark:border-[#414c5f];
  }
}


