@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LIGHT THEME */
  /* CSS HEX */
  --white: #fcfcfcff;
  --yellow-green: #84cc16ff;
  --silver: #b6bcb9ff;
  --black-olive: #2f3d33ff;
  --feldgrau: #3c4d41ff;
  --reseda-green: #6b8a75ff;
  --cal-poly-green: #235131ff;

  /* CSS HSL */
  --white: hsla(0, 0%, 99%, 1);
  --yellow-green: hsla(84, 81%, 44%, 1);
  --silver: hsla(150, 4%, 73%, 1);
  --black-olive: hsla(137, 13%, 21%, 1);
  --feldgrau: hsla(138, 12%, 27%, 1);
  --reseda-green: hsla(139, 13%, 48%, 1);
  --cal-poly-green: hsla(138, 40%, 23%, 1);

  /* SCSS HEX */
  --white: #fcfcfcff;
  --yellow-green: #84cc16ff;
  --silver: #b6bcb9ff;
  --black-olive: #2f3d33ff;
  --feldgrau: #3c4d41ff;
  --reseda-green: #6b8a75ff;
  --cal-poly-green: #235131ff;

  /* SCSS HSL */
  --white: hsla(0, 0%, 99%, 1);
  --yellow-green: hsla(84, 81%, 44%, 1);
  --silver: hsla(150, 4%, 73%, 1);
  --black-olive: hsla(137, 13%, 21%, 1);
  --feldgrau: hsla(138, 12%, 27%, 1);
  --reseda-green: hsla(139, 13%, 48%, 1);
  --cal-poly-green: hsla(138, 40%, 23%, 1);

  /* SCSS RGB */
  --white: rgba(252, 252, 252, 1);
  --yellow-green: rgba(132, 204, 22, 1);
  --silver: rgba(182, 188, 185, 1);
  --black-olive: rgba(47, 61, 51, 1);
  --feldgrau: rgba(60, 77, 65, 1);
  --reseda-green: rgba(107, 138, 117, 1);
  --cal-poly-green: rgba(35, 81, 49, 1);

  /* SCSS Gradient */
  --gradient-top: linear-gradient(
    0deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-right: linear-gradient(
    90deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-left: linear-gradient(
    270deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );
  --gradient-radial: radial-gradient(
    #fcfcfcff,
    #84cc16ff,
    #b6bcb9ff,
    #2f3d33ff,
    #3c4d41ff,
    #6b8a75ff,
    #235131ff
  );

  /* DARK THEME */
  /* CSS HEX */
  --rich-black: #141c2bff;
  --paynes-gray: #5c6d80ff;
  --raisin-black: #1b2332ff;
  --prussian-blue: #233145ff;
  --spring-bud: #9fef00ff;

  /* CSS HSL */
  --rich-black: hsla(219, 37%, 12%, 1);
  --paynes-gray: hsla(212, 16%, 43%, 1);
  --raisin-black: hsla(219, 30%, 15%, 1);
  --prussian-blue: hsla(215, 33%, 20%, 1);
  --spring-bud: hsla(80, 100%, 47%, 1);

  /* SCSS HEX */
  --rich-black: #141c2bff;
  --paynes-gray: #5c6d80ff;
  --raisin-black: #1b2332ff;
  --prussian-blue: #233145ff;
  --spring-bud: #9fef00ff;

  /* SCSS HSL */
  --rich-black: hsla(219, 37%, 12%, 1);
  --paynes-gray: hsla(212, 16%, 43%, 1);
  --raisin-black: hsla(219, 30%, 15%, 1);
  --prussian-blue: hsla(215, 33%, 20%, 1);
  --spring-bud: hsla(80, 100%, 47%, 1);

  /* SCSS RGB */
  --rich-black: rgba(20, 28, 43, 1);
  --paynes-gray: rgba(92, 109, 128, 1);
  --raisin-black: rgba(27, 35, 50, 1);
  --prussian-blue: rgba(35, 49, 69, 1);
  --spring-bud: rgba(159, 239, 0, 1);

  /* SCSS Gradient */
  --gradient-top: linear-gradient(
    0deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-right: linear-gradient(
    90deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-left: linear-gradient(
    270deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
  --gradient-radial: radial-gradient(
    #141c2bff,
    #5c6d80ff,
    #1b2332ff,
    #233145ff,
    #9fef00ff
  );
}


@layer utilities {

}
